<h2><%= @zipcode.zip %></h2>

<h3>Info</h3>
<h4>County: <%= @zipcode.county %></h4>
<h4>City: <%= @zipcode.city %></h4>
<h4>School District: <%= @zipcode.school_district %></h4>

<h3>House Districts</h3>
<% @districts.each do |district| %>
  <div class="distzip">

    <h3> <%= link_to "The fightin' #{district.name}", district_path(district)%></h3>

    <% topthree = district.candidates.order(vote_count: :desc).limit(3) %>
    <ol>
    <% topthree.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, district_candidate_path(district, candidate) %> Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>

    <h4> <%= link_to "View more candidates from Virginia's #{district.name} District!", district_path(district)%></h4>
  </div>
<% end %>
<h3>State Senate Districts</h3>
<div class="senate">
  <h3> <%= link_to "The fightin' #{@zipcode.senate.name}", senate_path(@zipcode.senate)%></h3>
  <ol>
  <% @scandidates.each do |scandidate| %>
  <div class="candidate">
  <li> <%= link_to scandidate.name, senate_scandidate_path(@zipcode.senate, scandidate) %> Votes: <%= scandidate.vote_count %> </li>
  </div>
  <% end %>
  </ol>

  <h4> <%= link_to "View more candidates from Virginia's State Senate District #{@zipcode.senate.name}!", senate_path(@zipcode.senate)%></h4>
</div>
<h3>State House Districts</h3>
<div class="house">
  <h3> <%= link_to "The fightin' #{@zipcode.house.name}", house_path(@zipcode.house)%></h3>
  <ol>
  <% @hcandidates.each do |hcandidate| %>
  <div class="candidate">
  <li> <%= link_to hcandidate.name, house_hcandidate_path(@zipcode.house, hcandidate) %> Votes: <%= hcandidate.vote_count %> </li>
  </div>
  <% end %>
  </ol>

  <h4> <%= link_to "View more candidates from Virginia's State House District #{@zipcode.house.name}!", house_path(@zipcode.house)%></h4>
</div>
