<h2>The fightin' <%= @district.name %> District of Virginia</h2>
<%= image_tag @district.img_url %>
<% if current_user %>
  <h3>Candidates <%= link_to "(+ NEW)", new_district_candidate_path(@district) %></h3>
<% else %>
  <h3>Candidates <%= link_to "(Sign up to run for office!)", new_user_registration_path %></h3>
<% end %>


<% sortList = [] %>
<% @district.candidates.each do |candidate| %>
<% sortList << candidate %>
<% end %>

<% sortList = sortList.sort_by { |votes| votes[:vote_count]}.reverse %>


<ol>
<% sortList.each do |candidate| %>
  <div class="candidate">
  <li> <%= link_to candidate.name, district_candidate_path(@district, candidate) %> | Votes: <%= candidate.vote_count %> </li>
  </div>
<% end %>
</ol>
