<h2>The fightin' State Senate District <%= @senate.name %> of Virginia</h2>
<% if current_user %>
  <h3>Candidates <%= link_to "(+ NEW)", new_senate_scandidate_path(@senate) %></h3>
<% else %>
  <h3>Candidates <%= link_to "(Sign up to run for office!)", new_user_registration_path %></h3>
<% end %>

<div class="all">

  <div class="party">
    <h3>Democrats</h3>
    <ol>
    <% @democrats.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>
  <div class="party">
    <h3>Republicans</h3>
    <ol>
    <% @republicans.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>
  <div class="party">
    <h3>Independents</h3>
    <ol>
    <% @independents.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>
  <div class="party">
    <h3>Libertarians</h3>
    <ol>
    <% @libertarians.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>
  <div class="party">
    <h3>Greens</h3>
    <ol>
    <% @greens.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>
  <div class="party">
    <h3>Others</h3>
    <ol>
    <% @others.each do |candidate| %>
      <div class="candidate">
      <li> <%= link_to candidate.name, senate_scandidate_path(@senate, candidate) %> | Votes: <%= candidate.vote_count %> </li>
      </div>
    <% end %>
    </ol>
  </div>

</div>
