<h3><%= link_to "The fightin' State Senate District #{@scandidate.senate.name}", senate_path(@scandidate.senate) %></h3>

<h2><%= @scandidate.name %></h2>
<% if @scandidate.user == current_user %>
  <h4><%=link_to "Edit Profile", edit_senate_scandidate_path(@scandidate.senate, @scandidate)%></h4>
<% end %>
<h3>"<%= @scandidate.slogan %>"</h3>

<h3>Party: <%= @scandidate.party %> | State Senate District: <%= @scandidate.senate.name %> | Votes: <%= @scandidate.vote_count %></h3>
<img src="<%= @scandidate.img_url %>" class="cand_img" alt="Image of <%= @scandidate.name %>">

<h3>About <%= @scandidate.name %>:</h3>
<p><%= @scandidate.about %></p>

<h3>Votes</h3>
<%= link_to "Click here to vote for #{@scandidate.name}!", new_senate_scandidate_svote_path(@scandidate.senate, @scandidate)%>
<% @scandidate.svotes.each do |svote| %>
  <div class="vote">
    <time>Vote cast at <%= svote.created_at %></time>
    <p>
    I support <%= @scandidate.name %> because... <%= svote.reason %>
    </p>
  </div>
<% end %>
