<h2>Write your vote for <%= @candidate.name %>!</h2>

<%= form_for ([@candidate, @vote]) do |f| %>

  <%= f.label :reason %>
  <%= f.text_area :reason %>
  <%# Just from a UX perspective, should you require users to have to list a reason in
  order to show support for a candidate. Should this be an optional field? %>

  <%= f.submit %>

<% end %>
