<!DOCTYPE html>
<html>
  <head>
    <title>CrowdsourceCandidate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
      <% end %>
      <% if !current_user %>
        <%= link_to "Candidate Sign Up", new_user_registration_path %>
        <%= link_to "Candidate Sign In", new_user_session_path %>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to current_user.email, user_path(current_user) %>
      <% end %>
      <h1> Crowd_Sourced Candidates | <%= link_to "Zipcode Input", root_path %> | <%= link_to "Districts", districts_path %></h1>
    </nav>
    <%= yield %>
  </body>
</html>
